trigger:
- master

pool:
  name: LocalPool
  demands: []

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script: |
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'

- script: dir /s test_results.trx
  displayName: 'Verificar existencia de test_results.trx'

# И Ejecutar pruebas y generar archivo .trx
- script: |
    dotnet test --logger:"trx;LogFileName=test_results.trx"
  displayName: 'Ejecutar pruebas y generar archivo .trx'

#  Publicar resultados de pruebas
- task: PublishTestResults@2
  inputs:
    testResultsFiles: '**/test_results.trx'
    testRunTitle: 'Simulaci贸n de pruebas'
  condition: succeededOrFailed()
  displayName: 'Publicar resultados de pruebas'

#  Generar informe HTML de pruebas
- script: |
    dotnet tool install --global dotnet-reportgenerator-globaltool || echo "Fall贸 instalaci贸n"
    reportgenerator -reports:test_results.trx -targetdir:TestReport -reporttypes:Html || echo "Fall贸 generaci贸n de reporte"
  displayName: 'Generar informe HTML de pruebas'
  continueOnError: true
